.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--footer-bg-color);

    &__title {
        display: block;

        margin-top: 60px;
        margin-bottom: 20px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;

        text-align: center;
        text-transform: uppercase;

        color: var(--button-accent-text-color);
    }

    &-address {
        margin-left: auto;
        margin-right: auto;
        width: 232px;
    }

    // &-wrapper {
    //     display: block;
    // }
}

.address-wrapper {

    text-align: center;

    &__link {
        margin-bottom: 8px;

        color: var(--button-accent-text-color);
        font-size: 14px;
        line-height: 1.71;
        text-decoration: none;
        font-style: normal;
    }
}

.footer-mailto {
    font-weight: 400;
    line-height: 1.71;

    &__items:not(:last-child) {
        margin-bottom: 8px;
    }

    &__link {
        color: rgb(255, 255, 255, 0.6);
        font-size: 14px;
        font-style: normal;
    }
}

.footer-social__list {
    display: flex;
    justify-content: center;
}

.footer-social__item:not(:last-child) {
    margin-right: 10px;
}

.footer-social__link {
    
    @include common-social__link;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-social__icon {
    fill: var(--icon-footer-color);
}


// ======Sunscription form=======

.footer-subscribe-form {
    display: inline-block;
    margin-left: auto;

    &__wrapper {
        
        display: block;
        text-align: center;

    }
        
}

.subscribe-form__input {
    display: inline-block;

    width: 450px;
    height: 50px;
    

    padding: 0 0 0 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);

    background-color: var(--footer-bg-color);

    transition: var(--transition-border);

    &:focus {
        border-color: var(--main-accent-color);
        outline: none;
    }

    &::placeholder {

        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;

        color: rgba(255, 255, 255, 0.6);
    }
}



.subscribe-form__button {

    position: relative;
    display: inline-flex;

    margin-top: 20px;
    padding: 10px 28px 10px 28px;

    @include common-button
}

.subscribe-form__icon {
    position: absolute;
    top: 50%;
    right: 28px;

    display: inline-flex;

    transform: translateY(-50%);
}

 @media screen and (min-width: 768px) and (max-width: 1199px) {

     .footer-wrapper {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
     }
 }

 @media screen and (max-width: 767px) {
    
    .subscribe-form__input {
        width: 100%;
    }
 }

@media screen and (min-width: 768px) {

    .footer-address {
        margin-left: 0;
        margin-right: 0;
    }

    .social-title {
        margin-top: 0;
    }

    .footer-subscribe-form {
        display: block;
        margin-left: auto;
    }

    .subscribe-form__input {
        display: block
    }
}

 @media screen and (min-width: 1200px) {
    
    .footer-wrapper {
        display: flex;
        align-items: baseline;        
    }

    .footer__title {
        margin-top: 0;

        text-align: left;
    }

    .footer-address {
        margin-right: 70px;
    }

    .address-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-mailto {
        text-align: left;
    }

    .footer-subscribe-form__wrapper {
        display: inline-flex;
    }

    .subscribe-form__input {
    
        width: 358px;
        height: 50px;

        margin-right: 12px;
    }

    .subscribe-form__button {
        margin-top: 0;
    }
    
    .footer-social {
        text-align: center;
        margin-right: 93px;
    }
 }

