.team {
    padding-bottom: 94px;
    background-color: var(--team-section-bg-color);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.team-list .section__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-list__title {
    margin-bottom: 10px;

    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-list__card {
    flex-basis: calc((100% - 120px)/4);
    margin-right: 30px;
    margin-bottom: 30px;

}

.team-list__thumb {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;

    background: var(--main-bg-color);
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--main-bg-color);
    border-top: none;
    border-radius: 0px 0px 4px 4px;
}

.social-list {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.social-list__link {
    
    @include common-social__link;
}

.social-list__icon {
    fill: var(--icon-main-color);
    transition: var(--transition-fill);

    .social-list__link:hover &,
    .social-list__link:focus & {
        fill: var(--main-bg-color);
    }
}

