.logo__header {
    
    // letter-spacing: 0.03em;

    @include common-logo;

    &_left {
        color: var(--main-accent-color);
    }

    &_right {
        color: var(--logo-studio-color);
    }    
}

@media screen and (min-width: 768px) {
    .logo__header {
        margin-right: 88px;
    }
}

@media screen and (min-width: 1200px) {
    .logo__header {
        @include common-logo__desktop
    }
}

