.logo__header {
    margin-right: 94px;
    letter-spacing: 0.03em;

    @include common-logo;

    &_left {
        color: var(--main-accent-color);
    }

    &_right {
        color: var(--logo-studio-color);
    }    
}

