.logo__footer {
    display: block;
    margin-bottom: 20px;

    text-align: center;

    @include common-logo;

    &_left {
        color: var(--main-accent-color);
    }

    &_right {
        color: var(--button-accent-text-color);
    }
}

@media screen and (min-width: 1200px) {
    .logo__footer {
    text-align: start;
    font-size: 26px;
    line-height: 1.19;
    }
}