.section {
    padding-top: 60px;
    padding-bottom: 60px;

    &__title {
        margin-bottom: 30px;

        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
        text-align: center;
    }

    &__text {
        color: var(--p-text-color);
    }
}

@media screen and (min-width: 1200px) {
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    
        &__title {
            margin-bottom: 50px;
            font-size: 36px;
            line-height: 1.17;
        }
    }

}